@import url(http://fonts.googleapis.com/css?family=Roboto:700,400|Raleway:700);

div#nathanLawrence{
	font-family : 'Raleway', sans-serif;
	font-size : 400%;
}

span.nathan{
	color : #800000;
}

.responsiveBody{
	font-family: 'Roboto', sans-serif;
	padding-left : 5%;
	padding-right : 5%;
}

.TKAdjustableNumber{
	color : #800000;
}

blockquote{
	padding-left : 0.5em;
	padding-top : 0.5em;
	padding-bottom : 0.5em;
	background-color : #d3d3d3;
	width : 50%;
	font-style : italic;
}

strong{
	color : #800000;
}

h1{
	font-family: 'Roboto', sans-serif;
	text-align : center;
}

a{
	color : #800000;
	text-decoration : none;
}

a:hover{
	text-decoration : underline;
}

.byline{
	text-align : center;
}

#app-guts{
	background-color : #d3d3d3;
	width : 50%;
	text-align : center;
	line-height : 200%;
	margin-left : auto;
	margin-right : auto;
	padding-top : 1em;
	padding-bottom : 1em;
}

.submitButton {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family : 'Roboto';
  color: #ffffff;
  font-size: 80%;
  background: #800;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin : 0.5em;
  text-decoration: none;
}

.submitButton:hover {
  background: #A92424;
  text-decoration: underline;
}

